<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts.html}">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link th:href="@{/css/forgotPassword.css}" rel="stylesheet" />
</head>
<body>
    <div layout:fragment="content" class="body">
        <form class="reset-password-form" th:action="@{/forgot-password}" method="post">
            <h2>Lấy Lại Mật Khẩu</h2>
            <input type="text" placeholder="Tên Truy Cập" name="username" required />
            <input type="text" placeholder="Email hoặc Số Điện Thoại" name="email" required />
            <input type="password" placeholder="Nhập Mật Khẩu Mới" name="password" required />
            <input type="password" placeholder="Nhập Lại Mật Khẩu" name="confirmPassword" required />
            <button type="submit">Hoàn Thành</button>
        </form>
    </div>
</body>
</html>